* {
	box-sizing: border-box;
}

body {
	background: #777;
	font-size: 18px;
	text-align:center;
	color:gray;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#wrapper {
	width: 960px;
	margin:0 auto;
}

#header {
	padding:30px;
	background:#ebebeb;
}

#nav {
	padding:30px;
	background:#ebebeb;
	margin-top:10px;
}

section {
	background:#ebebeb;
	padding: 30px;
	margin-top:20px;
	margin-bottom:20px;
	float: left;
	width: 495px;
	height: 274px;
}

#article {
	padding: 20px;
	background:#777;
	margin-top: 31px;
	margin-left: -14px;
	height: 180px;
	width: 461px;
	bottom: 10px;
	color:white;
}

#headers {
	background:#ebebeb;
	width: 90%;
	padding: 10px;
	margin: 0 auto;
	margin-top: 22px;
	margin-bottom: 10px;
	color: gray;
	font-weight: bold;
}

#paragraph {
	background:#ebebeb;
	padding: 10px;
	width: 90%;
	margin: 0 auto;
	color: gray;

}

#aside {
	float: right;
	width: 46%;
	height: 274px;
	margin-top: 20px;
	margin-left: 20px;
	background:#ebebeb;
}

#footer {
	clear:both;
	overflow:auto;
	background:#ebebeb;
	color:gray;
	padding: 30px;
}